/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: black; /* Cambiar el color de fondo a negro */
    color: white; /* Cambiar el color del texto a blanco */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: #eee;
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

main {
    padding: 1rem;
}

h2 {
    border-bottom: 1px solid #333;
    padding-bottom: 0.5rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/* Cambiar el color de todos los enlaces a morado */
nav ul li a,
a.ir-al-modulo,
a[href^="#module"] {
    color: #800080; /* Morado (#800080) */
}


.img-portfolio {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilo para el enlace centrado en la parte superior */
nav {
    position: fixed;
    top: 0;
    left: 50%; /* Coloca el borde izquierdo del elemento en el centro de la pantalla */
    transform: translateX(-50%); /* Desplaza el elemento hacia la izquierda en un 50% de su ancho */
    background-color: #333;
    color: #fff;
    padding: 1rem;
    z-index: 9999; /* Asegura que la barra de navegación esté por encima de otros elementos */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilo para el encabezado principal */
header {
    margin-top: 60px; /* Ajusta este valor para dejar espacio entre la barra de navegación y el encabezado */
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

